# ComfyUI Docker Compose File v1.0.1 by John Aldred
# http://www.johnaldred.com
# http://github.com/kaouthia

services:
  comfyk:
    build:
      dockerfile: Dockerfile
    image: comfyui:latest
    container_name: comfyui
    ports:
      - "8189:8188"
    volumes:
      # persist your models (using existing ComfyUI models folder):
      - c:/Users/AKG_Research/LLM/ComfyUI_windows_portable_v2/ComfyUI/models:/app/ComfyUI/models

      # persist your output images (unique for this container):
      - c:/Users/AKG_Research/comfyui/docker-output:/app/ComfyUI/output
      
      # persist all your settings & extra nodes:
      - c:/Users/AKG_Research/comfyui/settings:/app/ComfyUI/user/default:rw

      # persist just your saved flows (overrides the workflows/ in default):
      - c:/Users/AKG_Research/comfyui/flows:/app/ComfyUI/user/default/workflows:rw
    
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    
    stdin_open: true
    tty: true
    restart: unless-stopped
